<section>
  <div class="row input-field">
    <label>Song name</label>
    <input type="text" ng-model="AddSongsCtrl.newSong.title">
  </div>
  <div class="row input-field">
    <label>Album Name</label>
    <input type="text" ng-model="AddSongsCtrl.newSong.album">
  </div>
  <div class="row input-field">
    <label>Artist</label>
    <input type="text" ng-model="AddSongsCtrl.newSong.artist">
  </div>
  <div class="row input-field">
    <label>Rating</label>
    <input type="number" ng-model="AddSongsCtrl.newSong.rating">
  </div>
  <a href="/#/songs/list" class="waves-effect waves-light btn" ng-click="AddSongsCtrl.addSong()">Add Song</a>
</section>