<section>
  <div class="row">
    <div class="col offset-s4 s4 input-field">
      <label>Song name</label>
      <input type="text" ng-model="AddSongsCtrl.newSong.title">
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4 input-field">
      <label>Artist</label>
      <input type="text" ng-model="AddSongsCtrl.newSong.artist">
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4 input-field">
      <label>Album Name</label>
      <input type="text" ng-model="AddSongsCtrl.newSong.album">
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4 input-field">
      <label>Rating</label>
      <input type="number" ng-model="AddSongsCtrl.newSong.rating">
    </div>
  </div>
  <div class="row">
    <a href="/#/" class="col offset-s5 s2 waves-effect waves-light btn" ng-click="AddSongsCtrl.addSong()">Add Song</a>
  </div>
</section>