<div ng-controller="songsCtrl">
	<div class="row">
	  <div class="col-md-12">
			<nav class="navbar navbar-material-grey-900 shadow-z-5">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand"><img id="brandIcon" src="http://www.clker.com/cliparts/G/A/g/P/G/p/orange-music-note-hi.png" alt="music note"></a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li>
			        	<a><select id="filterAlbum" class="makeBlack" ng-model="filterAlbum" ng-options="i.album group by i.artist for i in songList"></select></a>
			        </li>
			        <li>
			        	<a><input class="makeBlack" type="text" placeholder="Search Song/Artist/Album" ng-model="filterString"></a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
	  </div>
	</div>


	<div class="row">
		<div class="col-md-2" ng-include src="'partials/song-form.html'" ng-controller='addSongsCtrl'></div>
	  <div class="col-md-8">
		  <ul ng-repeat="i in songList | filter: filterAlbum | filter: filterString" class="list-unstyled">
		  	<li class="well row song-entry">
			  	<div class="song-info col-md-9">
						<h1>{{i.title}}</h1>
						<h4>by <b>{{i.artist}}</b></h4>
						<h4>on the album <b>{{i.album}}</b></h4>
			  	</div>
					<a class="song-buttons col-md-3">
						<button class="delete-song btn btn-large btn-material-orange btn-raised" ng-click="deleteSong(i)">Delete Song</button>
					</a>
		  	</li>
		  </ul>
	  </div>
	</div>
</div>