<div ng-include="'partials/nav.html'"></div>
<div class="row">
  <div class="col offset-s2 s8">
	  <ul ng-repeat="i in SongsCtrl.songList | filter: AllCtrl.filterString" class="list-unstyled">
	  	<li class="section card-panel hoverable row song-entry">
		  	<div class="song-info col s10">
					<h1>{{i.title}}</h1>
					<h4>by <b>{{i.artist}}</b></h4>
					<h4>on the album <b>{{i.album}}</b></h4>
		  	</div>
				<a class="song-buttons col s2">
					<button class="delete-song btn-floating btn-large waves-effect waves-light" ng-click="SongsCtrl.deleteSong(i)"><i class="material-icons">delete</i></button>
				</a>
	  	</li>
	  </ul>
  </div>
</div>
